{{>/layout/header}}
<link rel="stylesheet" href="/css/main.css">

<div class="box-body">
    <div class="box-body-half d-flex align-items-center">
        <div class="d-flex justify-content-center ">
            <div class="col-xl-1">
            </div>
            <div class="col-xl-2">
                <a href="/ready" class="img-a">
                    <img class="box-img" src="/image/bgbg.png">
                </a>
                <a href="/ready" class="img-a">
                    <p class="text-center">그린랜덤알피지</p>
                </a>
            </div>
            <div class="col-xl-1">
            </div>
            <div class="col-xl-2">
                <img class="box-img" src="/image/bgbg.png">
                <p class="img-a text-center">승현이피하기(예정)</p>
            </div>
            <div class="col-xl-1">
            </div>
            <div class="col-xl-2">
                <a href="/ready" class="img-a">
                    <img class="box-img" src="/image/bgbg.png">
                </a>
                <a href="/ready" class="img-a">
                    <p class="text-center">그린랜덤알피지</p>
                </a>
            </div>
            <div class="col-xl-1">
            </div>
        </div>
    </div>
</div>
</div>
</body>

</html>